{{/* boolean feature tags */}}
{{- $ephemeral := false -}}{{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{- $work := false -}}{{/* true if this machine is a work machine */}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $personal := false -}}{{/* true if this machine is your personal (non-work) machine */}}
{{- $trusted := false -}}{{/* true if this machine should receive age secrets and private SSH keys */}}
{{- "" -}}

{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{/* detect GitHub codespaces, VSCode remote containers, Docker containers, Multipass VMs, and Vagrant boxes */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "ubuntu" "vagrant" "vscode") -}}
{{-   $ephemeral = true -}}
{{-   $headless = true -}}
{{- end -}}

{{/* work around unreliable hostname on darwin (assign to outer $hostname, do not shadow) */}}
{{- $hostname := .chezmoi.hostname -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $hostname = output "scutil" "--get" "LocalHostName" | trim -}}
{{- end -}}

{{- if not $ephemeral -}}
{{-   if stdinIsATTY -}}
{{-     $headless = promptBoolOnce . "headless" "headless" -}}
{{-     $ephemeral = promptBoolOnce . "ephemeral" "ephemeral" -}}
{{-     if not $ephemeral -}}
{{-       $kind := lower (trim (promptStringOnce . "machineKind" "Machine type: type 'work' or 'personal'" "personal")) -}}
{{-       if eq $kind "work" -}}
{{-         $work = true -}}
{{-       else -}}
{{-         $personal = true -}}
{{-       end -}}
{{-       $trusted = true -}}
{{-     end -}}
{{-   else -}}
{{-     $ephemeral = true -}}
{{-     $headless = true -}}
{{-   end -}}
{{- end -}}

{{- if $trusted -}}
encryption = "age"
[age]
    identity = "{{ .chezmoi.homeDir }}/.config/chezmoi/key.txt"
    recipient = "age1eyqg7p8rzdnnen3glv39vvu5pdmwsfch6rclnj0g8r57utnx3qvqkxgqtu"
{{- end }}

[data]
    ephemeral = {{ $ephemeral }}
    work = {{ $work }}
    headless = {{ $headless }}
    hostname = {{ $hostname | quote }}
    personal = {{ $personal }}
    trusted = {{ $trusted }}
    osid = {{ $osID | quote }}
    zshPlugins = [
        "z",
        "chezmoi",
        "brew",
        "colorize",
        "uv",
        "git",
        "python",
        "virtualenvwrapper",
        "tmux",
        "ssh-agent",
        "nvm",
        "fzf",
        "fzf-tab",
        "zsh-autosuggestions",
        "zsh-syntax-highlighting"
    ]
