
[push]
    autoSetupRemote = true

[includeIf "gitdir:~/work/"]
    path = ~/.gitconfig-work

[includeIf "gitdir:~/code/"]
    path = ~/.gitconfig-personal

[includeIf "gitdir:~/.local/share/chezmoi/"]
    path = ~/.gitconfig-personal

{{ if  eq .chezmoi.os "windows" }}
[credential]
	helper = manager

[credential "helperselector"]
	selected = manager
{{ else if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
[credential]
  helper = "/mnt/c/Users/chris.DESKTOP-RKHLOD0/scoop/apps/git/current/mingw64/bin/git-credential-manager.exe"
{{   end}}
{{ end }}
