# Taps (Repositories)

# Core Binaries (Install on BOTH Linux & Mac)
# These tools usually have the same name on both systems.
brew "git"
brew "chezmoi"
brew "fzf"
brew "ripgrep"
brew "fd"
brew "node"
brew "zsh"
brew "curl"
brew "jq"
brew "bat"
brew "eza"
brew "nvim"

# Mac-Specific Logic
if OS.mac?
    # Casks (GUI Apps - Mac Only)
{{- if not .ephemeral }}
    cask "iterm2"
    cask "font-droid-sans-mono-nerd-font"
    cask "finicky"
    cask "spotify"
    cask "bitwarden"
    brew "tmux"
    
{{- end }}

{{- if .personal }}
# Don't have admin on work machines
    # Mac App Store (Requires 'mas' CLI)
    cask "visual-studio-code"
    brew "mas"
    mas "Tailscale", id: 1475387142
{{- end }}
end

# Linux-Specific Logic (Optional)
if OS.linux?
    # Sometimes tool names differ slightly
    brew "gcc" 
end

{{- if not .ephemeral }}
brew "gh"
{{- end }}
